
services:
  - type: web
    name: ecom-text-ai
    env: python
    plan: standard
    buildCommand: pip install --no-cache-dir -r requirements.txt
    startCommand: python app.py
    healthCheckPath: /status
