
services:
  - type: web
    name: ecom-text-ai
    env: python
    plan: standard
    buildCommand: pip install --no-cache-dir -r requirements.txt
    startCommand: gunicorn -c gunicorn.conf.py app:app
    healthCheckPath: /status
