--only-binary=:all:

Flask==3.0.3
gunicorn==21.2.0
pandas==2.3.3
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.5.2
gdown==5.2.0
tflite-runtime==2.14.0
python-dotenv==1.0.1
joblib==1.4.2
torch==2.2.1+cpu
transformers==4.38.1
